<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{  url_for('static', filename='propio.css')  }}">
  <title>Pagina principal</title>
</head>
<body>
  <div class="info">
    <h1>Bienvenido a la empresa Chevi</h1>
    <p>Accede a nuestro sistema donde podras reportar tu problema con tu vehiculo, y tan pronto como podamos te atendemos.</p>
    <input type="button" value="registro" onclick="location.href='/registro'">
    <input type="button" value="inicio sesion" onclick="location.href='/login'">
  </div>
</body>
</html>